.main-container{
    

    h1{
        color: white ; 
        padding: 2rem 0;
        text-transform: uppercase;
    }
}
footer{
    height: 250px;
    background-color: $dark3;
    width: 100%;
}
.content{
    color: $light;
    padding: 2rem 0;
}