@import "../node_modules/bootstrap/scss/bootstrap";


@import 'colours';
@import 'header';

#hero {
    height: 550px;
    width: 100%;
    background: url('./images/hero-1.jpg' ) ; 
    background-color: $dark2;
    color: white;
    text-transform: uppercase;
    background-position-x: center;
    text-shadow: 0px 0px 25px black;
}